.slidev-layout {
    h1 {
        @apply text-emerald-800;
    }

    :not(pre) > code:before, :not(pre) > code:after {
        opacity: 0;
        content: none;
    }

    .ref p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        line-height: 1rem;
        font-size: 0.5rem;
    }
}

.dark {
    .slidev-layout {
        h1 {
            @apply text-lime-200;
        }
    }
}